/**
 * @file
 * Bartlett panel layout
**/

.bartlett-container,
.bartlett-content-header {
  margin-bottom: 1em;
}

.bartlett-column {
  width: 34.043%;
  float: left;
}

  .bartlett-column-inner {
    margin-right: 20px;
  }
  
.bartlett-content-container { /* This is floated to the left of the sidebar,
  which is styled by the generic "bartlett-column" class */
  float: left;
  width: 65.957%;
}

  .bartlett-content-container .bartlett-content-column1 {
    width: 51.613%;  
  }
  
  .bartlett-content-container .bartlett-content-column2 {
    width: 48.387%;
  }

    .bartlett-content-column2-inner {
      margin-right: 0;
    }
    
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .bartlett-column,
  .bartlett-content-container,
  .bartlett-content-container .bartlett-content-column1,
  .bartlett-content-container .bartlett-content-column2 {
    width: 100%;
    float: none;
  }
  
  .bartlett-column-inner {
    margin-right: 0;
  }
}
/**
 * @file
 * Bartlett Flipped panel layout
**/

.bartlett-flipped-container,
.bartlett-flipped-content-header {
  margin-bottom: 1em;
}

.bartlett-flipped-column {
  width: 34.043%;
  float: left;
}

  .bartlett-flipped-column-inner {
    margin-right: 20px;
  }
  
  .bartlett-flipped-content-column2-inner,
  .bartlett-flipped-sidebar-inner {
    margin-right: 0;
  }
  
.bartlett-flipped .bartlett-flipped-sidebar {
  width: 31.915%;
}
  
.bartlett-flipped-content-container { /* This is floated to the left of the sidebar,
  which is styled by the generic "bartlett-flipped-column" class */
  float: left;
  width: 68.085%;
}

  .bartlett-flipped-content-container-inner {
    margin-right: 20px;
  }
  
  .bartlett-flipped-content-container .bartlett-flipped-content-column1 {
    width: 51.613%;
  }
  
  .bartlett-flipped-content-container .bartlett-flipped-content-column2 {
    width: 48.387%;
  }
  
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .bartlett-flipped-column,
  .bartlett-flipped-content-container,
  .bartlett-flipped .bartlett-flipped-sidebar,
  .bartlett-flipped-content-container .bartlett-flipped-content-column1,
  .bartlett-flipped-content-container .bartlett-flipped-content-column2 {
    width: 100%;
    float: none;
  }
  
  .bartlett-flipped-column-inner,
  .bartlett-flipped-content-container-inner {
    margin-right: 0;
  }
}
/**
 * @file
 * Brenham panel layout
**/

.brenham-container {
  margin-bottom: 1em;
}

.brenham-sidebar {
  min-height: 1px;
  width: 34.043%;
  float: left;
}

  .brenham-sidebar-inner {
    margin-right: 20px;
  }

.brenham-content {
  width: 65.957%;
  float: left;
}

/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .brenham-content,
  .brenham-sidebar {
    width: 100%;
    float: none;
  }
  
  .brenham-sidebar-inner {
    margin-right: 0;
  }
  
}
/**
 * @file
 * Brenham Flipped panel layout
**/

.brenham-flipped-container {
  margin-bottom: 1em;
}

.brenham-flipped-sidebar {
  min-height: 1px;
  width: 31.915%;
  float: left;
}

.brenham-flipped-content {
  width: 68.085%;
  float: left;
}

  .brenham-flipped-content-inner {
    margin-right: 20px;
  }
  
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .brenham-flipped-content,
  .brenham-flipped-sidebar {
    width: 100%;
    float: none;
  }
  
  .brenham-flipped-content-inner {
    margin-right: 0;
  }
}
/**
 * @file
 * Brown panel layout
**/

.brown-container {
  margin-bottom: 1em;
}

.brown-slider {
  float: left;
  width: 68.085%
}

  .brown-slider-inner {
    margin-right: 20px;
  }

.brown-slider-gutter {
  float: left;
  width: 31.915%;
}

.brown-middle-region,
.brown-footer-region {
  width: 34.043%;
  float: left;
}

  .brown-middle-region-inner,
  .brown-footer-region-inner {
    margin-right: 20px;
  }

  .brown-column3,
  .brown-footer-column3 {
    width: 31.915%;
  }
  
    .brown-column3-inner,
    .brown-footer-column3-inner {
      margin-right: 0;
    }

/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .brown-slider,
  .brown-slider-gutter,
  .brown-middle-region,
  .brown-footer-region,
  .brown-column3,
  .brown-footer-column3 {
    width: 100%;
    float: none;
  }
  
  .brown-slider-inner,
  .brown-middle-region-inner,
  .brown-footer-region-inner {
    margin-right: 0;
  }
  
}
/**
 * @file
 * Bryant panel layout
**/

.bryant-container {
  margin-bottom: 1em;
}

.bryant-sidebar {
  min-height: 1px;
  width: 23.404%;
  float: left;
}

  .bryant-sidebar-inner {
    margin-right: 20px;
  }

.bryant-content {
  float: left;
  width: 76.596%;
}

/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .bryant-sidebar,
  .bryant-content {
    width: 100%;
    float: none;
  }
  
  .bryant-sidebar-inner {
    margin-right: 0;
  }
}
/**
 * @file
 * Bryant Flipped panel layout
**/

.bryant-flipped-container {
  margin-bottom: 1em;
}

.bryant-flipped-sidebar {
  min-height: 1px;
  width: 21.277%;
  float: left;
}

.bryant-flipped-content {
  min-height: 1px;
  float: left;
  width: 78.723%;
}

  .bryant-flipped-content-inner {
    margin-right: 20px;
  }
  
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .bryant-flipped-sidebar,
  .bryant-flipped-content {
    width: 100%;
    float: none;
  }
  
  .bryant-flipped-content-inner {
    margin-right: 0;
  }
  
}
/**
 * @file
 * Burr panel layout
**/

.burr-container {
  margin-bottom: 1em;
}

.burr-sidebar {
  min-height: 1px;
  width: 34.043%;
  float: left;
}

  .burr-sidebar-inner {
    margin-right: 20px;
  }

.burr-content {
  float: left;
  width: 65.957%;
}

/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .burr-content,
  .burr-sidebar {
    width: 100%;
    float: none;
  }
  
  .burr-sidebar-inner {
    margin-right: 0;
  }
}
/**
 * @file
 * Burr panel layout
**/

.burr-flipped-container {
  margin-bottom: 1em;
}

.burr-flipped-sidebar {
  min-height: 1px;
  width: 31.915%;
  float: left;
}

.burr-flipped-content {
  float: left;
  width: 68.085%;
}

  .burr-flipped-content-inner {
    margin-right: 20px;
  }
  
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .burr-flipped-content,
  .burr-flipped-sidebar {
    width: 100%;
    float: none;
  }
  
  .burr-flipped-content-inner {
    margin-right: 0;
  }
}
/**
 * @file
 * Geary panel layout
**/

.geary-container {
  margin-bottom: 1em;
}

.geary-column-content-region {
  min-height: 1px;
  width: 34.043%;
  float: left;
}

.geary-column-content-region-inner {
  margin-right: 20px;
}

  .geary-column3 {
    width: 31.915%;
  }

    .geary-column3-inner {
      margin-right: 0;
    }
    
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .geary-column-content-region,
  .geary-column3 {
    width: 100%;
    float: none;
  }
  
  .geary-column-content-region-inner {
    margin-right: 0;
  }
}
/**
 * @file
 * Harris panel layout
**/

.harris-container {
  margin-bottom: 1em;
}

.harris-column-content-region {
  min-height: 1px;
  width: 25.532%;
  float: left;
}

  .harris-column-content-region-inner {
    margin-right: 20px;
  }

  .harris-column2 {
    width: 23.404%;
  }
  
    .harris-column2-inner {
      margin-right: 0;
    }
  
  .harris-content {
    width: 51.064%;
  }
  
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .harris-column-content-region,
  .harris-column2,
  .harris-content {
    width: 100%;
    float: none;
  }
  
  .harris-column-content-region-inner {
    margin-right: 0;
  }
}
/**
 * @file
 * Hewston Flipped panel layout
**/

.hewston-flipped-container {
  margin-bottom: 1em;
}

.hewston-flipped-slider {
  min-height: 1px;
  float: left;
  width: 65.957%;
}

.hewston-flipped-slider-gutter {
  min-height: 1px;
  float: left;
  width: 34.043%;
}

  .hewston-flipped-slider-gutter-inner {
    margin-right: 20px
  }

.hewston-flipped-middle-region {
  min-height: 1px;
  width: 34.043%;
  float: left;
}

  .hewston-flipped-middle-region-inner {
    margin-right: 20px;
  }

  .hewston-flipped-column3 {
    width: 31.915%;
  }
  
    .hewston-flipped-column3-inner {
      margin-right: 0;
    }
    
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .hewston-flipped-slider,
  .hewston-flipped-slider-gutter,
  .hewston-flipped-middle-region,
  .hewston-flipped-column3 {
    width: 100%;
    float: none;
  }
  
  .hewston-flipped-slider-gutter-inner,
  .hewston-flipped-middle-region-inner {
    margin-right: 0;
  }
}
/**
 * @file
 * Hewston panel layout
**/

.hewston-container {
  margin-bottom: 1em;
}

.hewston-slider {
  min-height: 1px;
  float: left;
  width: 68.085%;
}

  .hewston-slider-inner {
    margin-right: 20px;
  }

.hewston-slider-gutter {
  min-height: 1px;
  float: left;
  width: 31.915%;
}

.hewston-middle-region {
  min-height: 1px;
  width: 34.043%;
  float: left;
}

  .hewston-middle-region-inner {
    margin-right: 20px;
  }

  .hewston-column3 {
    width: 31.915%;
  }
  
    .hewston-column3-inner {
      margin-right: 0;
    }
    
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .hewston-slider,
  .hewston-slider-gutter,
  .hewston-middle-region,
  .hewston-column3 {
    width: 100%;
    float: none;
  }
  
  .hewston-slider-inner,
  .hewston-middle-region-inner {
    margin-right: 0;
  }
}
/**
 * @file
 * McCoppin panel layout
**/

.mccoppin-container {
  margin-bottom: 1em;
}

.mccoppin-column-content-region {
  min-height: 1px;
  width: 34.043%;
  float: left;
}

  .mccoppin-column-content-region-inner {
    margin-right: 20px;
  }

  .mccoppin-column3 {
    width: 31.915%;
  }
  
    .mccoppin-column3-inner {
      margin-right: 0;
    }
    
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .mccoppin-column-content-region,
  .mccoppin-column3 {
    width: 100%;
    float: none;
  }
  
  .mccoppin-column-content-region-inner {
    margin-right: 0;
  }
}
/**
 * @file
 * Moscone Flipped panel layout
**/

.moscone-flipped-container {
  margin-bottom: 1em;
}

.moscone-flipped-content {
  min-height: 1px;
  width: 68.085%;
  float: left;
}

  .moscone-flipped-content-inner {
    margin-right: 20px;
  }

.moscone-flipped-sidebar {
  min-height: 1px;
  width: 31.915%;
  float: left;
}

/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .moscone-flipped-sidebar,
  .moscone-flipped-content {
    width: 100%;
    float: none;
  }
  
  .moscone-flipped-content-inner {
    margin-right: 0;
  }
}
/**
 * @file
 * Moscone panel layout
**/

.moscone-container {
  margin-bottom: 1em;
}

.moscone-sidebar {
  min-height: 1px;
  width: 34.043%;
  float: left;
}

  .moscone-sidebar-inner {
    margin-right: 20px;
  }

.moscone-content {
  min-height: 1px;
  width: 65.957%;
  float: left;
}

/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .moscone-content,
  .moscone-sidebar {
    width: 100%;
    float: none;
  }
  
  .moscone-sidebar-inner {
    margin-right: 0;
  }
}
/**
 * @file
 * Phelan panel layout
**/

.phelan-container {
  margin-bottom: 1em;
}

.phelan-column {
  min-height: 1px;
  width: 51.064%;
  float: left;
}

.phelan-column1-inner {
  margin-right: 20px;
}

.phelan-column2 {
  width: 48.936%;
}
  
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .phelan-column,
  .phelan-column2 {
    width: 100%;
    float: none;
  }
  
  .phelan-column1-inner {
    margin-right: 0;
  }
}
/**
 * @file
 * Pond panel layout
**/

.pond-container {
  margin-bottom: 1em;
}

.pond-column {
  min-height: 1px;
  width: 34.043%;
  float: left;
}

  .pond-column-inner {
    margin-right: 20px;
  }

  .pond-column3,
  .pond-secondary-column3 {
    min-height: 1px;
    width: 31.915%;
    margin-right: 0;
  }
  
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .pond-column,
  .pond-column3,
  .pond-secondary-column3 {
    width: 100%;
    float: none;
  }
  
  .pond-column-inner  {
    margin-right: 0;
  }
}
/**
 * @file
 * Rolph panel layout
**/

.rolph-container {
  margin-bottom: 1em;
}

.rolph-quarter {
  min-height: 1px;
  width: 25.532%; /* 240 / 940 = 25.532% */
  float: left;
}

  .rolph-quarter-inner {
    margin-right: 20px;
  }

.rolph-quarter4 {
  width: 23.404%; /* 220 / 940 = 23.404% */
}

  .rolph-quarter4-inner {
    margin-right: 0;
  }
  
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .rolph-quarter {
    width: 100%;
    float: none;
  }
  
  .rolph-quarter-inner {
    margin-right: 0;
  }
}
/**
 * @file
 * Sanderson Flipped panel layout
 **/

.sanderson-flipped-container {
  margin-bottom: 1em;
}

.sanderson-flipped-secondary-column-content-region {
  min-height: 1px;
  width: 51.064%;
  float: left;
}

  .sanderson-flipped-secondary-column2 {
    width: 48.936%;
  }

  .sanderson-flipped-secondary-column-content-region-inner {
    margin-right: 20px;
  }

.sanderson-flipped-column-content-region {
  min-height: 1px;
  width: 34.043%;
  float: left;
}

  .sanderson-flipped-column-content-region-inner {
    margin-right: 20px;
  }

  .sanderson-flipped-column3 {
    width: 31.915%;
  }
  
    .sanderson-flipped-secondary-column2-inner,
    .sanderson-flipped-column3-inner {
      margin-right: 0;
    }
    
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .sanderson-flipped-secondary-column-content-region,
  .sanderson-flipped-secondary-column2,
  .sanderson-flipped-column-content-region,
  .sanderson-flipped-column3 {
    width: 100%;
    float: none;
  }
  
  .sanderson-flipped-secondary-column-content-region-inner,
  .sanderson-flipped-column-content-region-inner {
    margin-right: 0;
  }
}
/**
 * @file
 * Sanderson panel layout
**/

.sanderson-container {
  margin-bottom: 1em;
}

.sanderson-column-content-region {
  min-height: 1px;
  width: 51.064%;
  float: left;
}

  .sanderson-column2 {
    width: 48.936%;
  }

  .sanderson-column-content-region-inner {
    margin-right: 20px;
  }

.sanderson-secondary-column-content-region {
  min-height: 1px;
  width: 34.043%;
  float: left;
}

  .sanderson-secondary-column-content-region-inner {
    margin-right: 20px;
  }

  .sanderson-secondary-column3 {
    width: 31.915%;
  }
  
    .sanderson-column2-inner,
    .sanderson-secondary-column3-inner {
      margin-right: 0;
    }
    
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .sanderson-column-content-region,
  .sanderson-secondary-column-content-region,
  .sanderson-column2,
  .sanderson-secondary-column3  {
    width: 100%;
    float: none;
  }
  
  .sanderson-column-content-region-inner,
  .sanderson-secondary-column-content-region-inner {
    margin-right: 0;
  }
}
/**
 * @file
 * Selby Flipped panel layout
**/

.selby-flipped-container,
.selby-flipped-content-header,
.selby-flipped-content-container-column-container {
  margin-bottom: 1em;
}

.selby-flipped-column {
  min-height: 1px;
  width: 34.043%;
  float: left;
}

  .selby-flipped-column-inner {
    margin-right: 20px;
  }

    .selby-flipped-content-column2-inner {
      margin-right: 0;
    }
    
.selby-flipped-content-container { /* This is floated to the left of the sidebar,
  which is styled by the generic "selby-flipped-column" class */
  min-height: 1px;
  float: left;
  width: 68.085%;
}

  .selby-flipped-content-container-inner {
    margin-right: 20px;
  }
  
  .selby-flipped-content-container .selby-flipped-column {
    width: 51.613%;
  }
  
  .selby-flipped-content-container .selby-flipped-content-column2 {
    width: 48.387%;
  }
  
  .selby-flipped-sidebar {
    width: 31.915%;
  }
  
  .selby-flipped-content-column2-inner,
  .selby-sidebar {
    margin-right: 0;
  }
  
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .selby-flipped-column,
  .selby-flipped-content-container,
  .selby-flipped-content-container .selby-flipped-column,
  .selby-flipped-content-container .selby-flipped-content-column2,
  .selby-flipped-sidebar {
    width: 100%;
    float: none;
  }
  
  .selby-flipped-column-inner,
  .selby-flipped-content-container-inner {
    margin-right: 0;
  }
}
/**
 * @file
 * Selby panel layout
**/

.selby-container,
.selby-content-header,
.selby-content-container-column-container {
  margin-bottom: 1em;
}

.selby-column {
  min-height: 1px;
  width: 34.043%;
  float: left;
}

  .selby-column-inner {
    margin-right: 20px;
  }

  .selby-content-column2-inner {
    margin-right: 0;
  }
  
.selby-content-container { /* This is floated to the left of the sidebar,
  which is styled by the generic "selby-column" class */
  min-height: 1px;
  float: left;
  width: 65.957%;
}

  .selby-content-container .selby-column {
    width: 51.613%;
  }
  
  .selby-content-container .selby-content-column2 {
    width: 48.387%;
  }
  
    .selby-content-column2-inner {
      margin-right: 0;
    }

/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .selby-column,
  .selby-content-container,
  .selby-content-container .selby-column,
  .selby-content-container .selby-content-column2 {
    width: 100%;
    float: none;
  }
  
  .selby-column-inner {
    margin-right: 0;
  }
}
/**
 * @file
 * Sutro Double panel layout
**/

.sutro-double-container {
  margin-bottom: 1em;
}

.sutro-double-column {
  min-height: 1px;
  width: 51.064%;
  float: left;
}

  .sutro-double-column-inner {
    margin-right: 20px;
  }

  .sutro-double-column2 {
    width: 48.936%;
  }
  
    .sutro-double-column2-inner {
      margin-right: 0;
    }
    
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .sutro-double-column,
  .sutro-double-column2 {
    width: 100%;
    float: none;
  }
  
  .sutro-double-column-inner {
    margin-right: 0;
  }
}
/**
 * @file
 * Sutro panel layout
**/

.sutro-container {
  margin-bottom: 1em;
}

.sutro-column {
  width: 51.064%;
  float: left;
}

  .sutro-column-inner {
    margin-right: 20px;
  }

  .sutro-column2 {
    width: 48.936%;
  }
  
    .sutro-column2-inner {
      margin-right: 0;
    }
    
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .sutro-column,
  .sutro-column2 {
    width: 100%;
    float: none;
  }
  
  .sutro-column-inner {
    margin-right: 0;
  }
}
/**
 * @file
 * Taylor Flipped panel layout
**/

.taylor-flipped-container {
  margin-bottom: 1em;
}

.taylor-flipped-half {
  min-height: 1px;
  width: 48.936%; /* 460 / 940 = 48.936% */
  float: left;
}

.taylor-flipped-quarter1,
.taylor-flipped-quarter2 {
  min-height: 1px;
  width: 25.532%; /* 240 / 940 = 25.532% */
  float: left;
}

.taylor-flipped-quarter1-inner,
.taylor-flipped-quarter2-inner {
  margin-right: 20px;
}

  
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .taylor-flipped-half,
  .taylor-flipped-quarter1,
  .taylor-flipped-quarter2 {
    width: 100%;
    float: none;
  }
  
  .taylor-flipped-half-inner,
  .taylor-flipped-quarter1-inner {
    margin-right: 0;
  }
}
/**
 * @file
 * Taylor panel layout
**/

.taylor-container {
  margin-bottom: 1em;
}

.taylor-half {
  width: 51.064%;
  float: left;
}

.taylor-quarter1 {
  min-height: 1px;
  width: 25.532%;
  float: left;
}

.taylor-half-inner,
.taylor-quarter1-inner {
  margin-right: 20px;
}

.taylor-quarter2 {
  min-height: 1px;
  width: 23.404%;
  float: left;
}
  
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .taylor-half,
  .taylor-quarter1,
  .taylor-quarter2 {
    width: 100%;
    float: none;
  }
  
  .taylor-half-inner,
  .taylor-quarter1-inner {
    margin-right: 0;
  }
}
/**
 * @file
 * Webb Flipped panel layout
**/

.webb-flipped-container,
.webb-flipped-content-header {
  margin-bottom: 1em;
}

.webb-flipped-column {
  min-height: 1px;
  width: 31.915%;
  float: left;
}

  .webb-flipped-column-inner {
    margin-right: 20px;
  }

  .webb-flipped-content-column2-inner,
  .webb-flipped-sidebar-inner {
    margin-right: 0;
  }
  
.webb-flipped-content-container { /* This is floated to the left of the sidebar,
  which is styled by the generic "webb-flipped-column" class */
  min-height: 1px;
  float: left;
  width: 68.085%;
}

  .webb-flipped-content-container-inner {
    margin-right: 20px;
  }

  .webb-flipped-content-column1 {
    width: 51.613%;
  }
  
  .webb-flipped-content-column2 {
    width: 48.387%;
  }
  
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .webb-flipped-column,
  .webb-flipped-content-container,
  .webb-flipped-content-column1,
  .webb-flipped-content-column2 {
    width: 100%;
    float: none;
  }
  
  .webb-flipped-column-inner,
  .webb-flipped-content-container-inner {
    margin-right: 0;
  }
}
/**
 * @file
 * Webb panel layout
**/

.webb-container,
.webb-content-header {
  margin-bottom: 1em;
}

.webb-column {
  min-height: 1px;
  width: 34.043%; /* 320 / 940 */
  float: left;
}

  .webb-column-inner {
    margin-right: 20px;
  }

  .webb-content-column2-inner {
    margin-right: 0;
  }
  
.webb-content-container { /* This is floated to the left of the sidebar,
  which is styled by the generic "webb-column" class */
  min-height: 1px;
  float: left;
  width: 65.957%; /* 620 / 940 */
}

  .webb-content-column1 {
    width: 51.613%; /* 320 / 620 */
  }
  
  .webb-content-column2 {
    width: 48.387%; /* 300 / 620 */
  }
  
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .webb-column,
  .webb-content-container,
  .webb-content-column1,
  .webb-content-column2 {
    width: 100%;
    float: none;
  }
  
  .webb-column-inner {
    margin-right: 0;
  }
}
/**
 * @file
 * Whelan panel layout
**/

.whelan-container {
  margin-bottom: 1em;
}

.whelan-column-content-region {
  min-height: 1px;
  width: 25.532%;
  float: left;
}

  .whelan-column-content-region-inner {
    margin-right: 20px;
  }

  .whelan-column2 {
    width: 23.404%;
  }
  
    .whelan-column2-inner {
      margin-right: 0;
    }
  
  .whelan-content {
    width: 51.064%;
  }
  
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px) {
  .whelan-column-content-region,
  .whelan-column2,
  .whelan-content {
    width: 100%;
    float: none;
  }
  
  .whelan-column-content-region-inner {
    margin-right: 0;
  }
}
